* {
    font-family: Montserrat;
}

nav {
    display: flex;
    padding: 30px 50px 30px 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #fdfdfd;
}

nav img {
    width: 108px;
    height: auto;
    opacity: 0.6;
}

.navitem {
    display: inline-block;
    padding: 9px 20px 9px 20px;
    color: #1a1b1f;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
}

nav a:hover, footer a:hover {
    opacity: 0.5;
}

.cta {
    display:inline-block;
    text-decoration: none;
    background-color: #1a1b1f;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 12px 25px;
}

/*main css*/

.intro a {
    display: inline-block;
    border-radius: 13px;
    color: #1a1b1f;
    padding: 16px 35px 16px 35px;
    background-color: #f0ecd8;
    font-size: 14px;
    text-transform:uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 20px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 350px;
    background-image: url("../assets/presta2.jpeg") ;
    background-attachment: cover;
}

.intro h1 {
    color: white;
    margin: 10px 0 10px 0;
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

.tarifs {
    margin: 60px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarifs p {
    text-align: center;
    width: 80%;
    font-size: 16px;
    opacity: 0.6;
}

.italic {
    font-style: italic;
}

h2 {
    color: #1a1b1f;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.tarif img {
    width: 100%;
    height: auto;
}

.grid {
    display: flex;
    margin: 60px 20px;
    gap: 30px;
}

.coiff {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coiff img {
    height: 200px;
    width: auto;
}

.coiff a {
    display:inline-block;
    text-decoration: none;
    background-color: white;
    color:#1a1b1f;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 12px 25px;
    margin-bottom: 30px;
    border: 1px solid #1a1b1f ;
}

.coiff a:hover {
    display:inline-block;
    text-decoration: none;
    background-color: #1a1b1f;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 12px 25px;
}

.coiff em {
    display: inline-block;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.avis {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 80%;
    margin: auto;
}

.avis p {
    margin: 25px 0;
    padding: 15px 30px;
    width: 80%;
    border-left: 5px solid #e2e2e2 ;
    font-size: 20px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 15px 0;
    margin: 80px 20px 0 20px;
    font-size: 12px ;
    text-transform: uppercase;
    border-top: 1px solid rgb(213, 213, 213);
}

footer a {
    margin: 12px 0;
    text-decoration: none;
    color: #1a1b1f;
}